<launch>


    <!--     click_demo_high_speed.launch -->

    <!-- config_name: super_planner/config/ 目录下的配置文件名
         在线模式：iros_real.yaml（默认）
         离线模式：iros_offline.yaml（通过命令行 config_name:=iros_offline.yaml 传入） -->
    <arg name="config_name" default="iros_real.yaml" />

    <node pkg="super_planner" name="fsm_node" type="fsm_node" output="screen">
<!--     1. use absolute path -->
<!--         <param name="config_path" value="" type="string"></param> -->
<!--     2. use file name in super_planner/config/... -->
        <param name="config_name" value="$(arg config_name)" type="string"></param>
    </node>


        <!--<node pkg="rviz" type="rviz" name="top_down" args="-d $(find super_planner)/rviz/top_down.rviz" output="log"/>-->
        <!-- <node pkg="rviz" type="rviz" name="fpv" args="-d $(find perfect_drone_sim)/rviz/fpv.rviz" output="log"/> -->



    <!-- <node name="ipc" pkg="rviz" type="rviz" args="-d $(find ipc)/config/env_robomaster.rviz"/> -->
    <!-- <node name="ipc" pkg="rviz" type="rviz" args="-d /home/fractal/IntelligentUAVChampionshipBase/flm_dev/src/keyboard_pos_ctr/test_mpc_tarj.rviz"/> -->

</launch>